<!-- adminDashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="icon"
      type="image/png"
      th:href="@{/assets/images/logo/logo.png}"
    />

    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
  </head>
  <body onload="renderContent()">
    <div class="container">
      <div class="wrapper">
        <div class="header"></div>
        <main class="main-content">
          <h1>Admin Dashboard</h1>
          <input
            type="text"
            name="searchBar"
            id="searchBar"
            placeholder="Search Doctors by Name..."
            class="search-input"
          />
          <div class="filters">
            <select name="timeFilter" id="timeFilter">
              <option value="">Filter by Time</option>
              <option value="am">AM</option>
              <option value="pm">PM</option>
            </select>

            <select name="specialtyFilter" id="specialtyFilter">
              <option value="">All Specialties</option>
              <option value="Cardiologist">Cardiologist</option>
              <option value="Dentist">Dentist</option>
              <option value="Neurologist">Neurologist</option>
              <option value="Orthopedic">Orthopedic</option>
              <option value="Pediatrician">Pediatrician</option>
            </select>

            <button id="addDoctorBtn" class="dashboard-btn">Add Doctor</button>
          </div>
          <div id="content" class="doctor-list"></div>
        </main>

        <div id="footer"></div>
        <!-- Modal Popup for Add Doctor -->
        <div id="modal-overlay" class="modal-overlay hidden">
          <div class="modal-content">
            <span id="modal-close" class="modal-close">&times;</span>
            <div id="modal-body">
              <!-- Doctor Form injected dynamically -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" th:src="@{/js/adminDashboard.js}" defer></script>
    <script type="module" th:src="@{/js/doctorCard.js}" defer></script>
  </body>
</html>
